@import '../../variables';

.confirmation-dialog {
    background: #fff;
    max-width: 718px;
    text-align: center;

    .upper {
        background: $color-green-light;
        color: $color-green-text;
        max-width: 100%;
        padding-bottom: 32px;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 26.18%;
            background: url('../../assets/thank-you-flag.svg') no-repeat 50% 50%;
            background-color: #fff;
            background-size: contain;
        }

        h2 {
            text-transform: uppercase;
            margin: 0 auto .5em;
            padding: 1em 1em 0;
            font-size: 2rem;
            max-width: 450px;
        }

        p {
            color: $color-green-text;
            margin: 0 auto;
            font-size: 1.5rem;
            padding: 0 1em .5em;
            max-width: 450px;
        }
    }
    .lower {
        background: $color-green-text;
        padding-bottom: .5em;

        p {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.125rem;
            margin: 0;
            padding: .5em 0;
        }
    }
}
