@import './variables';

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.woff2') format('woff2'),
         url('./assets/fonts/Nunito-Regular.woff') format('woff');
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    color: #005C3B;
    background-color: #fff;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
}

p {
    font-family: 'Nunito';
    line-height: 1.2; 
}

strong {
 // color: $color-purple;   
}

.app-wrapper {
    margin: 0 auto;
    max-width: $global-max-width;
}

.important {
    font-weight: bold;
    font-style: italic;
}

