$mobile-breakpoint: 700px;
$global-padding-horizontal-mobile: 50px;
$global-padding-horizontal-desktop: 75px;

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.woff2') format('woff2'),
         url('./assets/fonts/Nunito-Regular.woff') format('woff');
}

body {
    font-family: 'Nunito';
    color: #005C3B;
    background-color: #fff;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
