@import './variables';

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.woff2') format('woff2'),
         url('./assets/fonts/Nunito-Regular.woff') format('woff');
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    color: #005C3B;
    background-color: #fff;
    line-height: 1.2;
}
/*
input,
optgroup,
select,
textarea
*/

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}

p {
    font-family: 'Nunito';
    color: #1e1e1e;
}

strong {
 // color: $color-purple;
}

.page-content {
    display: flex;
    flex-direction: column;
    padding: 10px 75px;
}


.app-wrapper {
    margin: 0 auto;
    max-width: $global-max-width;
}

.important {
    font-weight: bold;
    font-style: italic;
}

