@import './variables';

.btn {
    background-color: $button-background-color;
    color: $button-text-color;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: .5em 1em .7em;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    overflow-wrap: unset;

    &:hover {
        background-color: darken($button-background-color, 15%);
    }

    &:disabled {
        background-color: desaturate($button-background-color, 90%)
    }

    &-link {
        color: $color-purple;
        padding: 0;
        border: 0;
        background: 0;
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
        text-align: left;
    }

    &.squarish {
        border-radius: 10px;
        background: #fff;
        padding: .5em 2em .7em;
        color: $color-green-text;
        box-shadow: 0 3px 3px rgba(0,0,0,0.3);
        transition: all 0.2s;
        &:hover {
            background: #eee;
            color: #000;
            box-shadow: 0 3px 3px rgba(0,0,0,0.5);
        }
    }
}
