@import './variables';

.btn {
    background-color: $button-background-color;
    color: $button-text-color;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: .5em 1em .7em;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    overflow-wrap: unset;

    &:hover {
        background-color: darken($button-background-color, 15%);
    }

    &:disabled {
        background-color: desaturate($button-background-color, 90%)
    }

    &-link {
        color: $color-purple;
        padding: 0;
        border: 0;
        background: 0;
        cursor: pointer;
        text-decoration: underline;
        font-weight: bold;
        text-align: left;
    }
}
