// Colors
$color-green-light: #B3D6C9;
$color-green-med: #349974;
$color-purple: #60269E;
$color-green-text: #00653a;
$color-gray-text: #6E6C6B;
$color-dark-gray-text: #404040;
$img-overlay-text: #fff;


// Page-level
$global-max-width: 1280px;
$global-padding-breakpoint: 920px;
$global-padding-horizontal-small: 50px;
$global-padding-horizontal-large: 75px;

// Header and nav
$header-hamburger-breakpoint: 760px;
$nav-link-padding: 2em;
$nav-link-color: $color-green-text;

// Buttons
$button-background-color: $color-purple;
$button-text-color: #fff;

// Main content
$main-content-graph-breakpoint: 850px;

// Pledge form
$pledge-form-breakpoint: 1000px;


// ipad pro
@med-screen: 1024px;
// ipad
@sm-screen: 768px;
// iphone 6/7/8 plus
@xs-screen: 414px;
// iphone 5/SE
@smallest-screen: 320px;
