// Page-level
$global-max-width: 1280px;
$global-padding-breakpoint: 920px;
$global-padding-horizontal-small: 50px;
$global-padding-horizontal-large: 75px;

// Header and nav
$header-hamburger-breakpoint: 760px;
$nav-link-padding: 1em;
$nav-link-color: #00754A;

// Buttons
$button-background-color: #60269E;
$button-text-color: #fff;

// Main content
$main-content-graph-breakpoint: 850px;
