// Colors
$color-green: #B3D6C9;
$color-purple: #60269E;
$color-green-text: #00754A;

// Page-level
$global-max-width: 1280px;
$global-padding-breakpoint: 920px;
$global-padding-horizontal-small: 50px;
$global-padding-horizontal-large: 75px;

// Header and nav
$header-hamburger-breakpoint: 760px;
$nav-link-padding: 1em;
$nav-link-color: $color-green-text;

// Buttons
$button-background-color: $color-purple;
$button-text-color: #fff;

// Main content
$main-content-graph-breakpoint: 850px;
