@import '../../variables';

.welcome-to-maine {
    background: $color-green-background;
    text-align: center;
    line-height: 1.5;
    padding: 75px $global-padding-horizontal-small 30px;
    @media(min-width: $global-padding-breakpoint) {
        padding: 75px $global-padding-horizontal-large 30px;
    }
    h2 {
        font-size: 2.25rem;
        margin: 0;
        padding: 0 0 32px;
        text-transform: uppercase;
        color: #fff;
    }
    p {
        color: #fff;
    }
    .take-pledge {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .agree {
        font-weight: bold;
    }
    .link-to-pledge a {
        display: block;
        background: url('../../assets/chevron-down-large.svg') no-repeat 50% 50%;
        width: 78px;
        height: 51px;
        margin: 40px auto 0;
        &:hover {
            filter: brightness(85%);
        }
    }
}
