@import '../../variables';

.react-aria-modal-underlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden auto;
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.react-aria-modal-dialog {
    display: inline-block;
    cursor: default;
    background: #E5E5E5;
    padding: 30px;
    min-width: 200px;
    width: 90%;
    max-width: 800px;
    min-height: 200px;
    border-radius: 25px;
    position: relative;
    color: #1E1E1E;
    line-height: 1.3;
    font-size: 18px;
    letter-spacing: .05em;
    max-height: 94vh;
    overflow-y: auto;

    h1,
    h2,
    h3,
    h4,
    label,
    strong {
        color: $color-green-text;
    }

    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        background: url('../../assets/close.svg') no-repeat;
        width: 50px;
        height: 50px;
        border: 0;
        cursor: pointer;
        &:hover {
            filter: brightness(85%);
        }
    }
}

