@import "../variables";

.challenges-page {
    display: flex;

    .challenges-container {
        width: 100%;
        padding-right: 25px;
        line-height: 132.9%;
        text-align: justify;
        letter-spacing: 0.05em;

        b {
            font-weight: bold;
            color: $color-purple;
        }

        .btn {
            padding-bottom: 18px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .social-icons {
        justify-content: left;
    }

    .twitter-container {
        border-left: 1px solid $color-green-med;
        width: 100%;
        padding-bottom: 100px;

        .twitter-widget-frame {
            margin: 0 auto;
            margin-top: 50px;
            max-width: 300px;
            box-shadow: 5px 5px 4px rgba(0, 117, 74, 0.2);
            border-radius: 10px;

            .twitter-widget-header {
                height: 90px;
                background-color: $color-green-light;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                text-align: center;

                .twitter-icon {
                    width: 60px;
                    height: 60px;
                    background: #fff;
                    border-radius: 50%;
                    border: 4px solid $color-green-light;
                    position: relative;
                    left: 125px;
                    top: -25px;

                    img {
                        padding-top: 15px;
                    }
                }

                span {
                    color: $color-green-text;
                }
            }

            .twitter-widget-body {
                height: 400px
            }
        }

        .share-container {
            padding-top: 40px;
            max-width: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            span {
                text-align: center;
                color: $color-purple;
                font-weight: bold;
                padding-top: 8px;
            }
        }
    }
}
