@import '../../variables';

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background: #3DAE8A;
    @media(min-width: 550px) {
        flex-wrap: nowrap;
    }
}

.about-us {
    max-width: 40em;
    padding: 16px $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 16px $global-padding-horizontal-large;
    }
}

.about-us-header {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
}

.about-us-body {
    color: white;
    border-bottom: 1px solid #1F684E;
    padding-bottom: 20px;
}

.about-us-links-container {
    display: flex;
    flex-direction: column;
}

.about-us-links {
    text-decoration: none;
    color: white;
    padding-top: 15px;

    &:hover,
    &:focus {
        color: $color-purple;
        text-decoration: underline;
    }
}

.support {
    color: white;
    min-width: 15em;
    padding: 16px $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 16px $global-padding-horizontal-large;
    }
}
