@import '../../variables';

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background: #eeeeee;
    @media(min-width: 550px) {
        flex-wrap: nowrap;
    }
}

.about-us {
    max-width: 40em;
    padding: 16px $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 16px $global-padding-horizontal-large;
    }
}

.about-us-header {
    color: #60269E;
    text-transform: uppercase;
}

.about-us-body {
    color: black;
    border-bottom: 1px solid #60269E;
    padding-bottom: 20px;
}

.about-us-links {
    text-decoration: none;
    color: black;
}

.support {
    min-width: 15em;
    padding: 16px $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 16px $global-padding-horizontal-large;
    }
}
