@import '../../variables';

$form-grid-breakpoint: 560px;

.pledge-form {
    margin: 48px 0 0;
    background: white;
    padding: 0 $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 0 $global-padding-horizontal-large;
    }

    h3 {
        font-size: 2.25rem;
    }
    h3, h4 {
        text-transform: uppercase;
        color: $color-purple;
        margin: 1.5em 0 .5em;
    }
    h4 {
        font-size: 1.75rem;
    }
    label {
        color: $color-green-text;
    }
    select {
        background: #eee;
        @media (max-width: $form-grid-breakpoint), (min-width: 750px) {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background: url(/static/media/chevron-down.293a0582.svg) no-repeat right 12px bottom 50%/30px 30px,
                linear-gradient(to left, $color-purple 0%, $color-purple 56px, #eeeeee 56px);
        }
    }
    hr {
        margin: 100px 0 12px;
    }
}

.bullet-points {
    color: #000;
    line-height: 1.5;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: flex;
        padding: 10px 0 0;
    }
    label {
        margin: 5px 0 0;
        line-height: 1.5;
        font-weight: normal;
        font-size: 1rem;
        cursor: pointer;
        color: #000;
        strong {
            font-weight: normal;
            color: $color-green-text;
        }
    }
    a:link,
    a:visited {
        color: $color-green-text;
    }
    .tooltip-icon {
        padding: 0 10px;
        margin-top: 12px;
    }
    .try-my-best li {
        display: block;
    }
}

.instructions {
    color: $color-green-text;
}

$form-grid-column-gap: 30px;

.pledge-form-grid {
    @media(min-width: $form-grid-breakpoint) {
        display: grid;
        grid-column-gap: $form-grid-column-gap;
        grid-row-gap: .5em;
        grid-template-columns: 1fr .65fr .35fr;
    }
}

.wrap-email,
.wrap-dependent-age,
.wrap-member-email,
.wrap-arrival-date {
    grid-column: 2 / span 2;
}

.dependents {
    margin-top: 1em;
}

.wrap-dependents {
    .inline-field label {
        padding-left: 0;
        text-indent: 0;
        margin-top: 5px;
    }
}

input, select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    background: #eeeeee;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}
input[type="checkbox"] {
    border: 1px solid $color-purple;
    background: #eeeeee;
}



label {
    line-height: 2;
    text-align: left;
    margin-bottom: 13px;
    margin-top: 20px;
    color: $color-purple;
    font-size: 14px;
    font-weight: bold;
}

.inline-field label {
    display: block;
    vertical-align: middle;
    padding-left: 15px;
    text-indent: -15px;
}
.inline-field input[type="checkbox"] {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin: 10px;
    vertical-align: middle;
    *overflow: hidden;
}
.inline-field.get-well-loop {
    padding-left: 42px;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

form .btn {
    width: 100%;
}

.error {
    color: #bf1650;
}

.error::before {
    display: inline;
    content: "⚠ ";
}

.privacy-terms-link {
    line-height: 1.6;
    margin-top: 5px;
}

.tooltip-icon {
    width: 20px;
    height: 20px;
    background: url('../../assets/tooltip-icon.svg') no-repeat;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0 12px;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
        opacity: .7;
    }
}

.add-member,
.remove-member,
.add-dependent,
.remove-dependent,
.add-destination,
.remove-destination {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
        opacity: .7;
    }
}
.add-member,
.add-dependent,
.add-destination {
    background: url('../../assets/add-member.svg') no-repeat;
    height: 35px;
    padding: 0 0 0 50px;
}
.remove-member,
.remove-dependent,
.remove-destination {
    background: url('../../assets/remove-member.svg') no-repeat;
    width: 35px;
    height: 35px;
    padding: 0 18px;
    margin: 30px 0 13px 13px;
}

.wrap-member-email,
.wrap-dependent-age,
.wrap-arrival-date {
    &.is-last {
        display: flex;
        margin-bottom: 12px;
        label {
            margin: 0;
            flex-grow: 2;
        }
        .error {
            flex-basis: 100%;
        }
    }
}
