@import '../../variables';

$home-splash-bg-img: '../../assets/background-rangeley.jpg';
$main-content-block-breakpoint-small: 650px;

.main-content-block {
    background-image: url($home-splash-bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 6px 6px -3px rgba(0,0,0,0.3);

    .call-to-action {
        margin: 0 auto;
        max-width: 700px;
        color: #fff;
        text-shadow: 0 0 4px #000, 0 0 8px #000;
        text-align: center;
        font-size: 1.6rem;
        @media(min-width: 500px) {
            font-size: 2.25rem;
        }
        padding: 160px $global-padding-horizontal-small;
        @media(min-width: $global-padding-breakpoint) {
            padding-left: $global-padding-horizontal-large;
            padding-right: $global-padding-horizontal-large;
        }
    }
}
