@import '../../variables';

.pledge-code-of-conduct {
    display: inline;
    padding: 1em $global-padding-horizontal-small;
    @media(min-width: $global-padding-breakpoint) {
        padding: 1em $global-padding-horizontal-large;
    }

    .code-container {
        border: solid 1px $color-green-text;
        border-left: 0;
        border-right: 0;
        &.is-expanded {
            border: 0;
        }
    }

    .code-toggle {
        display: flex;
        align-items: center;
        background: $color-green;
        color: $color-green-text;
        border: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        .toggle-text {
            display: inline-block;
            padding: 0 2em;
        }
        .chevron {
            background: $color-purple;
            width: 80px;
            height: 80px;
            display: flex;
            img {
                margin: 0 auto;
            }
        }
        &:hover .chevron {
            background: darken($color-purple, 15%);
        }
    }

    .code-content {
        display: block;
        background: $color-green;
        color: $color-purple;
        padding: 5% 8%;
        font-size: 1.5rem;
        line-height: 1.33;

        h2 {
            margin: 0;
            padding-bottom: .5em;
        }

        .pledge-preamble {
            margin: 0;
            font-weight: bold;
            padding-bottom: .5em;
        }

        ol {
            margin: 0;
            padding: 0;
            li {
                list-style-position: inside;
                padding-bottom: .5em;
            }
        }

        a:link,
        a:visited {
            color: $color-purple;
            text-decoration: underline;
            font-weight: bold;
        }

        strong {
            // text-decoration: underline;
        }
    }
    .is-collapsed .code-content {
        display: none;
    }
}
