@import '../../variables';

.symptoms-dialog {
    font-size: 1.125rem;

    &.dialog .inner {
        max-height: 90%;
        overflow-y: auto;
    }

    h2 {
        text-transform: uppercase;
        font-size: 2.25rem;
        color: $color-green-text;
    }
    h4 {
    	color: $color-green-text;
    }
}
